<div class="background-container"> <div class="content-overlay"> <div class="container my-5 py-4"> <div class="row">
                <div class="col-lg-10 mx-auto text-dark"> <h2 class="text-center mb-4 display-5 fw-bold text-primary">Acerca de Nosotros</h2>
                    <p class="lead text-justify text-shadow">
                        “FUERZA ACTIVA DE ORIENTE”, C.A. es una Compañía líder cuyo objeto
                        es la prestación de servicios de óptima calidad en el servicio de
                        vigilancia y seguridad privada, vigilancia y protección de propiedades sin
                        armamento, cuyo principal interés es brindar seguridad a patrimonios propios o
                        de terceros. Cuenta con los servicios de seguridad con control de acceso, control
                        de pérdidas, servicios de protocolo prestados en espacios públicos y privados,
                        servicios de vigilancia en locales de recreación, servicios de vigilancia en
                        espectáculos públicos, servicios de vigilancia y monitoreo de cámaras de
                        seguridad, en fin todas aquellas actividades de lícito comercio relacionadas
                        con el objeto principal de la compañía, como lo establece el artículo 9°, ordinal 1 y el artículo 4° del REGLAMENTO DE LOS SERVICIOS DE
                        Vigilancia y Seguridad Privada, publicado en
                        la Gaceta Oficial de la República Bolivariana de Venezuela N° 6.364
                        Extraordinario de fecha 16 de febrero de 2018.
                    </p>

                    <div class="row my-5">
                        <div class="col-md-6">
                            <h3 class="mb-3 display-6 fw-bold text-secondary">Nuestra Misión</h3>
                            <p class="text-justify text-shadow">
                                Es una empresa que tiene como misión satisfacer las necesidades de sus clientes, mediante la prestación de servicios
                                de vigilancia y seguridad privada de manera eficaz, basado en la selección y
                                suministro de personal idóneo para cubrir las necesidades prioritarias en el
                                campo de la seguridad, orientado a procesos de mejoramiento continuo, que
                                generan confianza y tranquilidad.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h3 class="mb-3 display-6 fw-bold text-secondary">Nuestra Visión</h3>
                            <p class="text-justify text-shadow">
                                Se proyecta como una empresa de excelente organización empresarial, líder, de trayectoria y
                                cubrimiento en el sector de vigilancia y seguridad privada aplicando la
                                eficiencia en el servicio garantizando de esta manera ser identificados como
                                símbolo de excelencia y calidad.
                            </p>
                        </div>
                    </div>

                    <h3 class="mt-5 mb-3 display-6 fw-bold text-secondary">Nuestros Valores</h3>
                    <p class="text-center lead text-shadow">
                        Impulsa su desarrollo y nutre su fortaleza en la práctica de sus valores:
                        <span class="fw-bold text-primary">Responsabilidad, Respeto, Honestidad, Disciplina y Servicio Al Prójimo.</span>
                    </p>

                    <h3 class="mt-5 mb-3 display-6 fw-bold text-secondary">Política de Selección de Personal</h3>
                    <p class="text-justify text-shadow">
                        Nuestra Empresa, a través de la oficina de Recursos Humanos, exige a los aspirantes a ingresar como Oficiales de seguridad las siguientes condiciones:
                    </p>
                    <ul class="list-unstyled custom-list-icons">
                        <li><i class="fas fa-check-circle me-2 text-success"></i>Ser venezolanos por nacimiento.</li>
                        <li><i class="fas fa-check-circle me-2 text-success"></i>Mayor de edad.</li>
                        <li><i class="fas fa-check-circle me-2 text-success"></i>Sexo Masculino o Femenino según necesidades.</li>
                        <li><i class="fas fa-check-circle me-2 text-success"></i>Estado civil Indistinto.</li>
                        <li><i class="fas fa-check-circle me-2 text-success"></i>Presencia sin lesiones, enfermedad, o cualquier otra característica que pudiese afectar su desempeño e imagen.</li>
                        <li><i class="fas fa-check-circle me-2 text-success"></i>Tener aprobado el 5TO año y/o estudios superiores.</li>
                        <li><i class="fas fa-check-circle me-2 text-success"></i>Estado físico en condiciones óptimas de salud, razonamiento y condición mental; no presentar antecedentes de uso de enervantes, sustancias tóxicas, etc.</li>
                        <li><i class="fas fa-check-circle me-2 text-success"></i>Antecedentes penales (verificados).</li>
                    </ul>

                    <h3 class="mt-5 mb-3 display-6 fw-bold text-secondary">Vestimenta del Personal</h3>
                    <p class="text-justify text-shadow">
                        Para brindar un servicio, “FUERZA ACTIVA DE ORIENTE”, C.A., proporciona equipo completo a sus elementos, este depende del lugar en donde se proporcione el servicio, y consta de lo siguiente:
                    </p>
                    <p class="fw-bold text-shadow">Uniformes:</p>
                    <ul class="list-unstyled custom-list-icons">
                        <li><i class="fas fa-tshirt me-2 text-info"></i>Camisa Azul Rey</li>
                        <li><i class="fas fa-tshirt me-2 text-info"></i>Pantalón Azul Marino</li>
                        <li><i class="fas fa-hat-cowboy me-2 text-info"></i>Gorra</li>
                    </ul>
                    <p class="text-justify text-shadow">
                        Uniformes autorizados por el DIGESERVISP (Dirección General de los Servicios de Vigilancia y Seguridad Privada), ente encargado de regular, fiscalizar, inspeccionar y controlar las empresas de vigilancia privada debidamente constituidas y autorizadas por el MINISTERIO DE INTERIOR Y JUSTICIA Y PAZ, además de dotaciones equipos de protección personal.
                    </p>

                    <h3 class="mt-5 mb-3 display-6 fw-bold text-secondary">Pólizas de Seguro</h3>
                    <p class="text-justify text-shadow">
                        Nuestros Clientes están respaldados por pólizas de seguros como:
                        <span class="fw-bold text-primary">Responsabilidad Civil, Deshonestidad, Accidentes Personales.</span>
                    </p>
                    
                    <hr class="my-5 border-secondary"> <h2 class="mt-5 mb-4 text-center display-5 fw-bold text-secondary">¿Por qué elegirnos?</h2>
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <p class="lead text-center text-shadow">
                                Elige a **Fuerza Activa De Oriente, C.A.** por nuestra <span class="fw-bold text-success">experiencia</span> y <span class="fw-bold text-success">liderazgo</span> en seguridad privada. Nuestro compromiso con la <span class="fw-bold text-success">excelencia</span>, la <span class="fw-bold text-success">confianza</span> y un <span class="fw-bold text-success">personal altamente calificado</span> garantiza tu tranquilidad.
                            </p>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <p class="lead text-center text-shadow">
                                Contamos con <span class="fw-bold text-success">sólidas pólizas de seguro</span> que te brindan respaldo, y un enfoque en la <span class="fw-bold text-success">mejora continua</span> para ofrecerte siempre el mejor servicio, adaptándonos a tus necesidades específicas.
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer-custom text-center">
    <p class="mb-0">&copy; 2025 Fuerza Activa De Oriente, C.A, todos los derechos reservados</p>
</footer>
