<main class="index">

    <header class="masthead d-flex">
        <div class="container ms-auto ">
             <h1 class="mb-1  " >Fuerza Activa De Oriente, C.A</h1>
             <h3 class="mb-5">
                 <em>¡Haz tu Solicitud de Oficiales! </em>
             </h3>
                <a href="/signin" class="btn btn-outline-primary ms-auto ">
                    Comenzar 
                </a> 
        </div>
    </header>


</main>


<footer class="footer-custom text-center">
    <p class="mb-0">&copy; 2025 Fuerza Activa De Oriente, C.A, todos los derechos reservados</p>
</footer>
