<div class="background-signin"> <div  class="container  p-4">
    <div class="row my-4">
        <div class="  col-md-4 align-items-stretch mx-auto"> 
            <div class="card text-center shadow">
                <div class="card-header">
                    <div class="card-body">
                    
                        <h1 class="display-4">¡Bienvenido!</h1>
                        <p class="lead">¡Gracias por preferirnos!</p>
                        <a href="links/add" class="btn btn-outline-primary btn-block">Comenzar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>