<div class="background-signin">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center shadow">
                    <div class="card-header bg-primary text-white">
                        <h3>Recuperar Contraseña</h3>
                    </div>
                    <div class="card-body">
                        <p>Introduce tu correo electrónico para restablecer tu contraseña.</p>
                        <form action="/forgotPassword" method="POST">
                            <div class="form-group mb-3">
                                <input type="email" name="email" placeholder="Correo Electrónico" class="form-control" required autofocus>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-primary btn-block">
                                    Enviar enlace de restablecimiento
                                </button>
                            </div>
                        </form>
                        <hr>
                        <p>¿Recordaste tu contraseña? <a href="/signin">Inicia Sesión</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>